<section class="container">
    <form action="" method="POST" class="form">
        <h2 class="form-title font-f-s p-10 color-b-blue-3 font-18">
            EDITAR PERFIL
            <span class="container btn btn-blue-2 br-3 btn-title font-12 cancel"><i class="fas fa-times"></i></span>
        </h2>
        <div class="form-section-parts g-t-c-3">
            <div class="form-section">
                <input value="{{user.primer_nom}}" autocomplete="off" type="text" class="form-input" name="nombre1" id="pn" autofocus required>
                <label for="" class="form-label">
                    <span class="label-content">Primer Nombre*</span>
                </label>
            </div>
            <div class="form-section">
                <input value="{{user.segundo_nom}}" autocomplete="off" type="text" class="form-input" name="nombre2" id="sn">
                <label for="" class="form-label">
                    <span class="label-content">Segundo Nombre</span>
                </label>
            </div>
            <div class="form-section">
                <input value="{{user.primer_ape}}" autocomplete="off" type="text" class="form-input" name="apellido1" id="pa" required>
                <label for="" class="form-label">
                    <span class="label-content">Primer Apellido*</span>
                </label>
            </div>
            <div class="form-section">
                <input value="{{user.segundo_ape}}" autocomplete="off" type="text" class="form-input" name="apellido2" id="sa">
                <label for="" class="form-label">
                    <span class="label-content">Segundo Apellido</span>
                </label>
            </div>
            <div class="form-section">
                <input value="{{user.id_usuario}}" autocomplete="off" type="text" class="form-input" name="cedula" id="ced" required>
                <label for="" class="form-label">
                    <span class="label-content">Cedula*</span>
                </label>
            </div>
            <div class="form-section">
                <input value="0{{user.numero}}" autocomplete="off" type="text" class="form-input" name="telefono" id="tel" required>
                <label for="" class="form-label">
                    <span class="label-content">Télefono*</span>
                </label>
            </div>
            <div class="form-section">
                <input value="{{user.correo}}" autocomplete="off" type="email" class="form-input" name="correo" id="email" required>
                <label for="" class="form-label">
                    <span class="label-content">Correo*</span>
                </label>
            </div>
            <div class="form-section">
                <input value="{{user.nombre_cargo}}" autocomplete="off" type="text" class="form-input" name="cargo" id="car" required>
                <label for="" class="form-label">
                    <span class="label-content">Cargo*</span>
                </label>
            </div>
        </div>
        <div class="form-section">
            <p class="color-red">Datos requeridos (*)</p>
        </div>
        <div class="form-section container">
            <button class="btn btn-grey form-button br-3">Actualizar</button>
        </div>
    </form>
</section>
<script src="/js/form-edit.js"></script>