<section>
    <table class="table uppercase">
        <tr class="table-tr color-b-blue-3">
            <th class="table-th">Cedula</th>
            <th class="table-th">Nombres</th>
            <th class="table-th">Apellidos</th>
            <th class="table-th">Cargo</th>
            <th class="table-th">Correo</th>
            <th class="table-th">Télefono</th>
            <th class="table-th"></th>
        </tr>
        {{#each lista}}
        <tr class="table-tr">
            <td class="table-td">{{id_usuario}}</td>
            <td class="table-td">{{primer_nom}} {{segundo_nom}}</td>
            <td class="table-td">{{primer_ape}} {{segundo_ape}}</td>
            <td class="table-td">{{nombre_cargo}}</td>
            <td class="table-td">{{correo}}</td>
            <td class="table-td">0{{numero}}</td>
            <td class="table-td">
                <div class="container">
                    <span class="btn btn-red br-3 font-12" title="Eliminar" data-id="{{id_usuario}}"><i class="fas fa-user-minus" data-id="{{id_usuario}}"></i></span>
                    <span class="edit-user btn btn-grey br-3 font-12" title="Editar" data-id="{{id_usuario}}"><i class="fas fa-user-edit" data-id="{{id_usuario}}"></i></span>
                    <span class="reset-user btn btn-blue-2 br-3 font-12" title="Resetear" data-id="{{id_usuario}}"><i class="fas fa-undo" data-id="{{id_usuario}}"></i></span>
                </div>
            </td>
        </tr>
        {{/each}}
    </table>
</section>