<div class="module-header">
    <h2 class="font-f-s">Bienvenido(a) {{user.primer_nom}} {{user.primer_ape}}</h2>
    <div class="container">
        <h3 class="font-f-s" id="add-user">UNESR</h3>
        <img src="/img/logo.png" alt="logo unesr" class="logo">
    </div>
</div>
<div class="profile-content p-10">
    <div class="profile-main">
        {{> cards }}
        {{> edit-profile }}
    </div>
    <div class="profile-data">
        <section class="profile-img">
            <span class="container-img c-point" id="profile-edit" title="Editar Perfil">
                <img src="/img/user.png" alt="usuario">
                <p><i class="fas fa-edit"></i></p>
            </span>
        </section>
        <section class="profile-info font-12">
            <aside class="font-14">{{user.primer_nom}} {{user.segundo_nom}} {{user.primer_ape}} {{user.segundo_ape}}</aside class="font-14">
            <aside><b>C.I:</b> {{user.id_usuario}}</aside>
            <aside><b>Cargo:</b> {{user.nombre_cargo}}</aside>
            <aside><b>Correo:</b> {{user.correo}}</aside>
            <aside><b>Teléfono:</b> 0{{user.numero}}</aside>
        </section>
    </div>
    <div class="profile-direct-access color-b-white">
        <h2 class="form-title font-f-s p-10 color-b-blue-3 font-18">Accesos directos</h2>
    </div>
</div>
<script src="/js/profile.js"></script>